html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Calibri Light", sans-serif;
}
p {
  margin: 0 auto;
  padding: 0;
}
a {
  color: #f8623f;
}
ul {
  background-color: rgba(0, 0, 0, 0.05);
  padding-left: 36px !important;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 12px;
}
.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
.size-full {
  width: 100%;
}
.size-normal {
  width: 1000px;
}
.go_back {
  display: block;
  position: fixed;
  width: 48px;
  height: 48px;
  margin-top: 32px;
  margin-left: 32px;
  -webkit-background-size: 50%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  background-image: url(img/arrow_light.png);
  opacity: 0.15;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.go_back:hover {
  opacity: 0.75;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.header__main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 600px;
  -webkit-box-shadow: inset 0px -45px 35px -30px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -45px 35px -30px rgba(0, 0, 0, 0.1);
  background-color: #90caf8;
  background-image: url(img/main_image.png);
  -webkit-background-size: auto;
  background-size: auto;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.header__project-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 600px;
  -webkit-box-shadow: inset 0px -45px 35px -30px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -45px 35px -30px rgba(0, 0, 0, 0.1);
  -webkit-background-size: auto;
  background-size: auto;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.content {
  margin: auto;
}
.notok {
  border-color: red !important;
}
.container:first-child {
  margin-top: 48px;
}
.container .block .project__tech-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container .block .project__tech-wrapper .project__tech-slot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 316px;
  height: 316px;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container .block .project__tech-wrapper .project__tech-slot:not(:first-child) {
  margin-left: 26px;
}
.container .block .project__tech-wrapper .project__tech-slot:nth-child(3n) {
  margin-bottom: 26px;
}
.container .block .project__tech-wrapper .project__tech-slot:nth-child(3n+1) {
  margin-left: 0;
}
.container .block .project__tech-wrapper .project__tech-slot:hover > .description {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.container .block .project__tech-wrapper .project__tech-slot:hover {
  background-image: none !important;
}
.container .block .project__tech-wrapper .project__tech-slot .description {
  display: none;
  color: white;
  font-size: 24pt;
  font-weight: bold;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.container .block .title * {
  padding-right: 12px;
  font-size: 24pt;
}
.container .block .title-project * {
  padding-right: 12px;
  font-size: 24pt;
  margin-bottom: 0;
}
.container .block .content {
  padding-top: 20px;
}
.container .block .content * {
  padding-left: 0;
  padding-right: 12px;
  margin-bottom: 0;
}
.container .block .content strong {
  padding-right: 0 !important;
}
.container .block .content .photo {
  float: left;
  width: 240px;
  height: 240px;
  padding-right: 60px;
  padding-bottom: 48px;
}
.container .block .content .photo img {
  border-radius: 50%;
  width: 240px;
  height: 240px;
}
.container .block .content .text {
  float: left;
  width: 660px;
}
.container .block .content .text p:first-child {
  margin: 0 !important;
  padding: 0;
}
.container .block .content .text p:last-child {
  padding-bottom: 48px !important;
}
.container .block .content .text p {
  padding: 12px 0 0 0;
}
.container .block .content .text-project {
  float: left;
  width: 900px;
}
.container .block .content .text-project p:first-child {
  padding-top: 0;
}
.container .block .content .text-project p {
  padding: 12px 0 0 0;
}
.container .block .content .text-project p:last-child {
  padding-bottom: 48px !important;
}
.container .block .content .text-project ol {
  padding-left: 15px;
}
.container .block .content .form__form-text {
  text-align: center;
  width: 100%;
  font-size: 14pt;
  margin-top: -12px;
  margin-bottom: 24px;
}
.container .block .content .form__form_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-top: 12px;
  margin-bottom: 48px;
  width: 100%;
}
.container .block .content .form__form_content form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.container .block .content .form__form_content form input:not(:last-child) {
  margin-bottom: 24px;
}
.container .block .content .form__form_content form input[type="text"] {
  width: 400px;
  height: 48px;
  border: 1px solid #f8623f;
  padding-left: 12px;
  font-family: "Calibri Light", sans-serif;
  font-size: 14pt;
}
.container .block .content .form__form_content form input[type="text"]:focus {
  outline: none;
  border-left-width: 4px;
  padding-left: 9px !important;
}
.container .block .content .form__form_content form input[type="submit"] {
  background-color: #f8623f;
  height: 48px;
  border: 1px solid #f8623f;
  color: white;
  font-family: "Calibri Light", sans-serif;
  font-size: 14pt;
}
.container .block .content .form__form_content form input[type="submit"]:focus {
  outline: none;
}
.container .block .content .form__form_content form input[type="submit"]:active {
  background-color: #e44e2b;
}
.container .block .content .form__form_content form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #ee5835;
}
.container .block .content .form__form-success-img {
  float: left;
  margin: 0 0 0 40px;
}
.container .block .content .form__form-success-content {
  float: left;
  margin: 12px 0 0 48px;
}
.container .block .content .form__form-success-content .form__form-success-text {
  font-size: 18pt;
}
.container .block .content .form__form-success-content .form__form-success-repeat {
  background-color: #f8623f;
  margin-top: 20px;
  text-align: center;
  padding-top: 12px;
  height: 36px;
  width: 196px;
  border: 1px solid #f8623f;
  color: white;
  font-family: "Calibri Light", sans-serif;
  font-size: 14pt;
}
.container .block .content .form__form-success-content .form__form-success-repeat:focus {
  outline: none;
}
.container .block .content .form__form-success-content .form__form-success-repeat:active {
  background-color: #e44e2b;
}
.container .block .content .form__form-success-content .form__form-success-repeat:hover {
  cursor: pointer;
  background-color: #ee5835;
}
.container .block #form__form-success {
  display: none;
}
.container .block .slider__slider-wrapper {
  margin-left: -100px;
  width: 1200px;
  height: 550px;
  margin-bottom: 48px;
}
.container .block .slider__slider-wrapper .slider__slider-controller {
  float: left;
  width: 100px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 30%;
  background-size: 30%;
}
.container .block .slider__slider-wrapper .slider__slider-controller:hover {
  -webkit-background-size: 35%;
  background-size: 35%;
  cursor: pointer;
}
.container .block .slider__slider-wrapper #slider__slider-controller-left {
  background-image: url(img/arrow.png);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.container .block .slider__slider-wrapper #slider__slider-image {
  float: left;
  width: 656px;
  height: 100%;
}
.container .block .slider__slider-wrapper #slider__slider-image img {
  display: block;
  width: 100%;
  height: 100%;
}
.container .block .slider__slider-wrapper #slider__slider-description {
  float: left;
  width: 334px;
  height: 100%;
  background-color: #f8623f;
  -webkit-box-shadow: -15px 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -15px 0 15px 0 rgba(0, 0, 0, 0.1);
}
.container .block .slider__slider-wrapper #slider__slider-description .slider__description-block {
  padding-top: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  color: white !important;
}
.container .block .slider__slider-wrapper #slider__slider-description .slider__description-block .title H3 {
  font-size: 20pt;
}
.container .block .slider__slider-wrapper #slider__slider-description .slider__description-block .text {
  font-size: 14pt;
}
.container .block .slider__slider-wrapper #slider__slider-description .slider__description-block .text p:first-child {
  padding-top: 0 !important;
}
.container .block .slider__slider-wrapper #slider__slider-description .slider__description-block .text p {
  padding-top: 16px;
}
.container .block .slider__slider-wrapper #slider__slider-description .slider__description-block .text p:last-child {
  padding-bottom: 0 !important;
}
.container .block .slider__slider-wrapper #slider__slider-controller-right {
  background-image: url(img/arrow.png);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.projects__projects-wrap {
  background-color: #90caf8;
  -webkit-box-shadow: inset 0 22px 48px -6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 22px 48px -6px rgba(0, 0, 0, 0.1);
}
.projects__projects-wrap .title {
  padding-top: 24px;
}
.projects__projects-wrap .title H2 {
  color: #0072b5;
}
.projects__projects-wrap .projects__project-row {
  padding-top: 40px;
}
.projects__projects-wrap .projects__project-row .projects__project {
  float: left;
  overflow: hidden;
  width: 316px;
  height: 316px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
.projects__projects-wrap .projects__project-row .projects__project:not(:first-child) {
  margin-left: 26px;
}
.projects__projects-wrap .projects__project-row .projects__project:last-child {
  margin-bottom: 40px;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-info-wrap {
  height: 100%;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-info-wrap img {
  width: 100%;
  height: 100%;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-info-wrap button {
  display: none;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about {
  display: none;
  margin-top: 48px;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about * {
  padding-left: 24px;
  padding-right: 24px;
  color: white;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about H3 {
  font-size: 16pt;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about p {
  font-size: 12pt;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about p:last-child {
  margin-bottom: 36px !important;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about .projects__project-button-wrap {
  margin-left: 22%;
  margin-top: 36px;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about .projects__project-button-wrap .projects__project-button {
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  background-color: transparent;
  width: 124px;
  border: 3px solid white;
  border-radius: 5%;
  outline: none;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about .projects__project-button-wrap .projects__project-button:hover {
  border: 2px solid white;
}
.projects__projects-wrap .projects__project-row .projects__project .projects__project-about .projects__project-button-wrap .projects__project-button:active {
  background-color: rgba(255, 255, 255, 0.15);
}
.skills__skills-wrap {
  background-color: #282828;
  margin-top: 48px;
  -webkit-box-shadow: inset 0 22px 48px -6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 22px 48px -6px rgba(0, 0, 0, 0.1);
}
.skills__skills-wrap .content .title {
  padding-top: 24px;
  color: white;
}
.skills__skills-wrap .content .title H2 {
  font-size: 24pt;
}
.skills__skills-wrap .content .skills__skills-block-wrap {
  color: white;
}
.skills__skills-wrap .content .skills__skills-block-wrap .skills__skill-block:last-child {
  padding-bottom: 72px;
}
.skills__skills-wrap .content .skills__skills-block-wrap .skills__skill-block .skills__skill-row {
  margin-top: 36px;
  height: 36px;
}
.skills__skills-wrap .content .skills__skills-block-wrap .skills__skill-block .skills__skill-row H3 {
  float: left;
  margin: 0 !important;
}
.skills__skills-wrap .content .skills__skills-block-wrap .skills__skill-block .skills__skill-row p {
  float: right;
}
.skills__skills-wrap .content .skills__skills-block-wrap .skills__skill-block .skills__skill-line {
  height: 36px;
  background-color: #f8623f;
}
.footer__main-footer {
  background-color: #282828;
  margin-top: 48px;
}
.footer__main-footer .content {
  padding-top: 24px;
}
.footer__main-footer .content .footer__content-block {
  display: inline-block;
  vertical-align: top;
  width: 316px;
  min-height: 150px;
}
.footer__main-footer .content .footer__content-block:not(:last-child) {
  margin-right: 26px;
}
.footer__main-footer .content .footer__content-block:last-child {
  width: 300px;
}
.footer__main-footer .content .footer__content-block .footer__content-block-title {
  font-size: 14pt;
  color: white;
}
.footer__main-footer .content .footer__content-block .footer__content-block-link {
  font-size: 12pt;
  padding-top: 12px;
  color: white;
}
.footer__main-footer .content .footer__content-block .footer__content-block-link a {
  color: white;
}
.footer__main-footer .content .footer__content-block .footer__content-block-link:last-child {
  padding-bottom: 24px;
}
.project-slider {
  height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.project-slider .project-slider__controller {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 70%;
  background-size: 70%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  height: 600px;
  width: 50px;
}
.project-slider .project-slider__controller:hover {
  cursor: pointer;
  -webkit-background-size: 80%;
  background-size: 80%;
}
.project-slider #project-slider__image_wrap {
  width: 800px;
  max-height: 600px;
  text-align: center;
}
.project-slider #project-slider__image_wrap img {
  max-height: 540px;
  max-width: 90%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px 5px;
}
.project-slider #project-slider__back {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.project-slider #project-slider__forward {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) {
  .mobile-hide {
    display: none;
  }
  .form__form-success-img {
    margin: 0 0 0 40px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
  html {
    width: 102%;
  }
  body {
    width: 102%;
  }
  .photo {
    width: 900px !important;
    height: 400px !important;
    text-align: center;
    padding-bottom: 0 !important;
  }
  .photo img {
    width: 360px !important;
    height: 360px !important;
  }
  .text {
    text-align: justify;
    width: 960px !important;
  }
  .text p {
    padding-top: 36pt !important;
    padding-left: 40px !important;
  }
  .text-project {
    text-align: justify;
    width: 960px !important;
  }
  .text-project p {
    padding-top: 36pt !important;
  }
  .text-project * {
    padding-left: 40px !important;
  }
  .text-project ol {
    padding-left: 80px !important;
  }
  .title * {
    font-size: 42pt !important;
    padding-left: 40px !important;
  }
  .title-project * {
    font-size: 42pt !important;
    padding-left: 40px !important;
  }
  .projects__project {
    float: none;
    margin: 0 !important;
    margin-left: 50px !important;
    width: 900px !important;
    height: 400px !important;
  }
  .projects__project:not(:first-child) {
    margin-top: 60px !important;
  }
  .projects__project:last-child {
    margin-bottom: 60px !important;
  }
  .projects__project .projects__project-info-wrap img {
    float: left;
    width: 45% !important;
  }
  .projects__project .projects__project-info-wrap button {
    float: left;
    width: 220px;
    height: 110px;
    font-size: 24pt;
    display: block !important;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin-top: 150px;
    margin-left: 120px;
  }
  .projects__project .projects__project-about * {
    padding-left: 24px;
    padding-right: 24px;
    color: white;
  }
  .projects__project .projects__project-about H3 {
    font-size: 30pt !important;
  }
  .projects__project .projects__project-about p {
    font-size: 24pt !important;
  }
  .projects__project .projects__project-about .projects__project-button-wrap {
    margin: 0 auto !important;
    margin-top: 62px !important;
    font-size: 24pt;
  }
  .projects__project .projects__project-about .projects__project-button-wrap .projects__project-button {
    padding: 24px;
    border: 4px solid white !important;
  }
  .skills__skills-block-wrap {
    margin-left: 40px;
    margin-right: 40px;
  }
  .skills__skills-block-wrap .skills__skill-block .skills__skill-row {
    height: 80px !important;
  }
  .skills__skills-block-wrap .skills__skill-block .skills__skill-row H3 {
    font-size: 32pt !important;
  }
  .skills__skills-block-wrap .skills__skill-block .skills__skill-row p {
    font-size: 32pt !important;
  }
  .form__form-text {
    font-size: 24pt !important;
    max-width: 900px !important;
    margin-left: 50px !important;
  }
  .form__form_content form input[type="text"] {
    width: 900px !important;
    height: 80px !important;
    font-size: 24pt !important;
  }
  .form__form_content form input[type="text"]:focus {
    border-left-width: 6px !important;
    width: 895px !important;
  }
  .form__form_content form input[type="submit"] {
    height: 80px !important;
    font-size: 24pt !important;
  }
  .form__form-success-img {
    margin: 0 0 0 40px;
  }
  .form__form-success-text {
    font-size: 24pt !important;
    width: 740px;
  }
  .form__form-success-repeat {
    height: 56px !important;
    width: 232px !important;
    font-size: 24pt !important;
  }
  .footer__content-block {
    width: 30% !important;
  }
  .footer__content-block:not(:first-child) {
    margin-left: 40px !important;
  }
  .footer__content-block:last-child {
    margin-left: 0 !important;
  }
  .footer__content-block .footer__content-block-title {
    font-size: 24pt !important;
  }
  .footer__content-block .footer__content-block-link {
    font-size: 18pt !important;
  }
}
