@primary-color: rgb(144,202,248);
@secondary-color: rgb(248,98,63);

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Calibri Light", sans-serif;
}

p {
    margin: 0 auto;
    padding: 0;
}

a {
    color: @secondary-color;
}

ul {
    background-color: rgba(0,0,0,.05);
    padding-left: 36px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
}

.clearfix {
    &::after {
        content: '';
        height: 0;
        display: block;
        clear: both;
    }
}

.size-full {
    width: 100%;
}

.size-normal {
    width: 1000px;
}

.go_back {
    display: block;
    position: fixed;
    width: 48px;
    height: 48px;
    margin-top: 32px;
    margin-left: 32px;
    
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(30,30,30);
    background-image: url(img/arrow_light.png);
    opacity: 0.15;
    transform: rotate(180deg);
    
    &:hover {
        opacity: 0.75;
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    }
}

.header__main-header {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 600px;
    box-shadow: inset 0px -45px 35px -30px rgba(0,0,0,0.1);
    
    background-color: @primary-color;
    background-image: url(img/main_image.png);
    background-size: auto;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.header__project-header {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 600px;
    box-shadow: inset 0px -45px 35px -30px rgba(0,0,0,0.1);
    
    background-size: auto;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.content {
    margin: auto;
}

.notok {
    border-color: red !important;
}

.container {
    &:first-child {
        margin-top: 48px;
    }
    
    .block {
        .project__tech-wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
            
            .project__tech-slot {
                &:not(:first-child){
                    margin-left: 26px;
                }
                
                &:nth-child(3n) {
                    margin-bottom: 26px;
                }
                
                &:nth-child(3n+1){
                    margin-left: 0;
                }
                
                display: flex;
                float: left;
                width: 316px;
                height: 316px;
                
                background-size: contain;
                background-position: center;
                justify-content: center;
                
                &:hover > .description {
                    display: flex !important;
                }
                
                &:hover {
                    background-image: none !important;
                }
                
                .description {
                    display: none;
                    color: white;
                    font-size: 24pt;
                    font-weight: bold;
                    justify-content: center;
                    align-self: center;
                }
            }
        }
        
        .title {
            * {
                padding-right: 12px;
                font-size: 24pt;
            }
        }
        
        .title-project {
            * {
                padding-right: 12px;
                font-size: 24pt;
                margin-bottom: 0;
            }
        }
        
        .content {
            padding-top: 20px;
            * {
                padding-left: 0;
                padding-right: 12px;
                margin-bottom: 0;
            }

            strong {
                padding-right: 0 !important;
            }
            
            .photo {
                float: left;
                width: 240px;
                height: 240px;
                padding-right: 60px;
                padding-bottom: 48px;
                
                img {
                    border-radius: 50%;
                    width: 240px;
                    height: 240px;
                }
            }
            .text {
                float: left;
                width: 660px;
                
                p:first-child {
                    margin: 0 !important;
                    padding: 0;
                }
                
                p:last-child {
                    padding-bottom: 48px !important;
                }
                
                p {
                    padding: 12px 0 0 0;
                }
            }
            
            .text-project {
                float: left;
                width: 900px;
                
                p:first-child {
                    padding-top: 0;
                }
                
                p {
                    padding: 12px 0 0 0;
                }
                
                p:last-child {
                    padding-bottom: 48px !important;
                }
                
                ol {
                    padding-left: 15px;
                }
            }
            
            .form__form-text {
                text-align:center;
                width: 100%;
                font-size: 14pt;
                margin-top: -12px;
                margin-bottom: 24px;
            }
            
            .form__form_content {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                margin-top: 12px;
                margin-bottom: 48px;
                
                width: 100%;
                
                form {
                    display: flex;
                    flex-flow: column;
                    
                    input:not(:last-child){
                        margin-bottom: 24px;
                    }
                    
                    input[type = "text"] {
                        width: 400px;
                        height: 48px;
                        
                        border: 1px solid @secondary-color;
                        padding-left: 12px;
                        
                        font-family: "Calibri Light", sans-serif;
                        font-size: 14pt;
                        
                        &:focus {
                            outline: none;
                            border-left-width: 4px;
                            padding-left: 9px !important;
                        }
                    }
                    
                    input[type = "submit"] {
                        background-color: @secondary-color;
                        height: 48px;
                        border: 1px solid @secondary-color;
                        color: white;
                        font-family: "Calibri Light", sans-serif;
                        font-size: 14pt;
                        
                        &:focus {
                            outline: none;
                        }
                        &:active {
                            background-color: rgb(228,78,43);
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: rgb(238,88,53);
                        }
                    }
                }
            }
            .form__form-success-img {
                float: left;
                margin: 0 0 0 40px;
            }

            .form__form-success-content {
                float: left;
                margin: 12px 0 0 48px;

                .form__form-success-text {
                    font-size: 18pt;
                }

                .form__form-success-repeat {
                    background-color: @secondary-color;
                    margin-top: 20px;
                    text-align: center;
                    padding-top: 12px;
                    height: 36px;
                    width: 196px;
                    border: 1px solid @secondary-color;
                    color: white;
                    font-family: "Calibri Light", sans-serif;
                    font-size: 14pt;

                    &:focus {
                        outline: none;
                    }
                    &:active {
                        background-color: rgb(228,78,43);
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(238,88,53);
                    }
                }
            }


        }

        #form__form-success {
            display: none;
        }
        
        .slider__slider-wrapper {
            margin-left: -100px;
            width: 1200px;
            height: 550px;
            margin-bottom: 48px;
            
            .slider__slider-controller {
                float: left;
                width: 100px;
                height: 100%;
                
                background-repeat: no-repeat;
                background-position: center;
                background-size: 30%;
                
                &:hover {
                    background-size: 35%;
                    cursor: pointer;
                }
            }
            
            #slider__slider-controller-left {
                background-image: url(img/arrow.png);
                transform: rotate(180deg);
            }
            
            #slider__slider-image {
                float: left;
                width: 656px;
                height: 100%;
                
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            
            #slider__slider-description {
                float: left;
                width: 334px;
                height: 100%;
                background-color: @secondary-color;
                box-shadow: -15px 0 15px 0 rgba(0,0,0,0.1);
                
                .slider__description-block {
                    padding-top: 16px;
                    padding-left: 36px;
                    padding-right: 36px;
                    padding-bottom: 36px;
                    color: white !important;
                    
                    .title {
                        H3 {
                            font-size: 20pt;
                        }
                    }
                    .text {
                        font-size: 14pt;
                        p:first-child {
                            padding-top: 0 !important;
                        }
                        p {
                            padding-top: 16px;
                        }
                        p:last-child {
                            padding-bottom: 0 !important;
                        }
                    }
                }
            }
            
            #slider__slider-controller-right {
                background-image: url(img/arrow.png);
                transform: rotate(0deg);
            }
        }
    }  
}

.projects__projects-wrap {
    background-color: @primary-color;
    box-shadow: inset 0 22px 48px -6px rgba(0,0,0,0.1);
    
    .title {
        padding-top: 24px;
        
        H2 {
            color: #0072b5;
        }
    }
    
    .projects__project-row {
        padding-top: 40px;
        
        .projects__project {
            &:not(:first-child){
                margin-left: 26px;
            }
            &:last-child {
                margin-bottom: 40px;
            }
            float: left;
            overflow: hidden;
            width: 316px;
            height: 316px;
            box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
            
            .projects__project-info-wrap {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
                button {
                    display: none;
                }
            }
            
            .projects__project-about {
                display: none;
                margin-top: 48px;
                * {
                    padding-left: 24px;
                    padding-right: 24px;
                    color: white;
                }
                
                H3 {
                    font-size: 16pt;
                }
                
                p {
                    font-size: 12pt;
                    
                    &:last-child {
                        margin-bottom: 36px !important;
                    }
                }
                
                .projects__project-button-wrap {
                    margin-left: 22%;
                    margin-top: 36px;
                    .projects__project-button {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        text-decoration: none;
                        background-color: transparent;
                        width: 124px;

                        border: 3px solid white;
                        border-radius: 5%;
                        outline: none;

                        &:hover {
                            border: 2px solid white;
                        }

                        &:active {
                            background-color: rgba(255,255,255,0.15);
                        }
                    }
                }
            }
        }
    }
}

.skills__skills-wrap {
    background-color: rgb(40,40,40);
    margin-top: 48px;
    box-shadow: inset 0 22px 48px -6px rgba(0,0,0,0.1);
    
    .content {
        .title {
            padding-top: 24px;
            color: white;
            
            H2{
                font-size: 24pt;
            }
        }
        
        .skills__skills-block-wrap {
            color: white;
            
            .skills__skill-block {
                &:last-child {
                    padding-bottom: 72px;
                }
                .skills__skill-row {
                    margin-top: 36px;
                    height: 36px;
                    H3 {
                        float: left;
                        margin: 0 !important;
                    }
                    p {
                        float: right;
                    }
                }
                .skills__skill-line {
                    height: 36px;
                    background-color: @secondary-color;
                }   
            }
        }
    }
}

.footer__main-footer {
    background-color: rgb(40, 40, 40);
    margin-top: 48px;
    
    .content {
        padding-top: 24px;
        
        .footer__content-block {
            display: inline-block;
            vertical-align: top;
            width: 316px;
            min-height: 150px;
            
            &:not(:last-child) {
                margin-right: 26px;
            }
            
            &:last-child {
                width: 300px;
            }
            
            .footer__content-block-title {
                font-size: 14pt;
                color: white;
            }
            
            .footer__content-block-link {
                font-size: 12pt;
                padding-top: 12px;
                color: white;
                
                a {
                    color: white;
                }
                
                &:last-child {
                    padding-bottom: 24px;
                }
            }
        }
    }
}

.project-slider {
    height: 600px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    .project-slider__controller {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        display:inline-flex;
        vertical-align: top;
        height: 600px;
        width: 50px;
        
        &:hover {
            cursor: pointer;
            
            background-size: 80%;
        }
    }
    
    #project-slider__image_wrap {
        width: 800px;
        max-height: 600px;
        text-align: center;
        
        img {
            max-height: 540px;
            max-width: 90%;
            box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px 5px;
        }
    }
    
    #project-slider__back {
        transform: rotate(180deg);
    }
    #project-slider__forward {
        transform: rotate(0deg);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) {
    .mobile-hide {
        display: none;
    }

    .form__form-success-img {
        margin: 0 0 0 40px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .mobile-hide {
        display: none !important;
    }
    html {
        width: 102%;
    }
    body {
        width: 102%;
    }
    
    .photo {
        width: 900px !important;
        height: 400px !important;
        text-align: center;
        
        padding-bottom: 0 !important;
                    
        img {
            width: 360px !important;
            height: 360px !important;
        }
    }
                
    .text {
        text-align: justify;
        width: 960px !important;
        
        p {
            padding-top: 36pt !important;
            padding-left: 40px !important;
        }
    }
    
    .text-project {
        text-align: justify;
        width: 960px !important;
        
        p {
            padding-top: 36pt !important;
        }
        
        * {
            padding-left: 40px !important;
        }
        
        ol {
            padding-left: 80px !important;
        }
    }
    
    .title {
        * {
            font-size: 42pt !important;
            padding-left: 40px !important;
        }
    }
    
    .title-project {
        * {
            font-size: 42pt !important;
            padding-left: 40px !important;
        }
    }
    
    .projects__project {
        float: none;
        margin: 0 !important;
        margin-left: 50px !important;
        width: 900px !important;
        height: 400px !important;
        
        &:not(:first-child){
            margin-top: 60px !important;
        }
        
        &:last-child {
            margin-bottom: 60px !important;
        }
        
        .projects__project-info-wrap {
            img {
                float: left;
                width: 45% !important;
            }
            button {
                float: left;
                width: 220px;
                height: 110px;
                
                font-size: 24pt;
                
                display: block !important;
                
                border: 2px solid white;
                background-color: transparent;
                color: white;
                
                margin-top: 150px;
                margin-left: 120px;
            }
        }
        
        .projects__project-about {
            * {
                padding-left: 24px;
                padding-right: 24px;
                color: white;
            }
                
            H3 {
                font-size: 30pt !important;
            }
                
            p {
                font-size: 24pt !important;
            }
            
            .projects__project-button-wrap {
                margin: 0 auto !important;
                margin-top: 62px !important;
                font-size: 24pt;
                
                .projects__project-button {
                    padding: 24px;
                    border: 4px solid white !important;
                }
            }
        }
    }
    
    .skills__skills-block-wrap {
        margin-left: 40px;
        margin-right: 40px;
        
        .skills__skill-block {
                .skills__skill-row {
                    height: 80px !important;
                    H3 {
                        font-size: 32pt !important
                    }
                    p {
                        font-size: 32pt !important;
                    }
                }
            }
    }
    
    .form__form-text {
        font-size: 24pt !important;
        max-width: 900px !important;
        margin-left: 50px !important;
    }
    
    .form__form_content {
        form {
            input[type = "text"] {
                width: 900px !important;
                height: 80px !important;
                font-size: 24pt !important;
                        
                &:focus {
                    border-left-width: 6px !important;
                    width: 895px !important;
                }
            }
                    
            input[type = "submit"] {
                height: 80px !important;
                font-size: 24pt !important;
            }
        }
    }

    .form__form-success-img {
        margin: 0 0 0 40px;
    }

    .form__form-success-text {
        font-size: 24pt !important;
        width: 740px;
    }

    .form__form-success-repeat {
        height: 56px !important;
        width: 232px !important;
        font-size: 24pt !important;
    }
    
    .footer__content-block {
        width: 30% !important;
        
        &:not(:first-child) {
        margin-left: 40px !important;
        }
        
        &:last-child {
            margin-left: 0 !important;
        }
        
        .footer__content-block-title {
            font-size: 24pt !important;
        }
        
        .footer__content-block-link {
            font-size: 18pt !important;
        }
    }

}

